@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: #304159;
    color: whitesmoke;
}

.custom-scroll {
    scrollbar-width: thin;
    scrollbar-color: #474747 #2b2b2b;
}