@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: #2f3348;
    color: whitesmoke;   
}

html {
    scrollbar-width: none;
}

.custom-scroll {
    scrollbar-width: thin;
    scrollbar-color: #474747 #2b2b2b;
}